.highlight {
  background-color: yellow;
}

.incorrect {
  color: red;
}

#solutionInfo {
  display: none; /* Cacher par défaut */
  margin-bottom: 10px;
}

#finalScore {
  font-size: larger;
  margin-top: 20px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
}

.actions, .answers {
  width: 45%;
}

.dropzone {
  width: 100%;
  min-height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px dashed #ccc;
  background-color: #f9f9f9;
}

.draggable {
  padding: 8px;
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: move;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.answer-area {
  margin-top: 20px;
}

.question-row {
  margin-bottom: 15px;
}
